*.iml
.gradle
/local.properties
/.idea
.DS_Store
**/build/
/captures
.externalNativeBuild
**/mipmap*/*.png
**/drawable*/*.png
buildSrc/**/local/
/apk/
**/env/
**/*.jar
gradle-wrapper.properties
**/*.gitbundle
