gradlew
gradlew.bat
gradle-wrapper.properties
apk
local.properties
buildSrc/**/local/
captures/
.idea
.gradle
.externalNativeBuild
.DS_Store
*.iml
**/mipmap*/*.png
**/env/
**/drawable*/*.png
**/build/
**/*.jar
**/*.gitbundle
